Automated Trend Intelligence & Sentiment Pipeline.json
{
  "name": "Automated Trend Intelligence & Sentiment Pipeline",
  "nodes": [
    {
      "parameters": {
        "url": "https://trends.google.com/trending/rss?geo=US",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        208
      ],
      "id": "b7a7547e-8cfc-4050-a459-7974e7a5a47b",
      "name": "Fetch Trends"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        -320,
        208
      ],
      "id": "e919bfbf-6f4c-42a4-bf23-9fdd70012533",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "rss.channel.item",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        208
      ],
      "id": "cc83f3eb-327e-4061-ae5b-676da72e4624",
      "name": "Split Out"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following topic and return the result EXACTLY as a JSON object. Do not include any markdown formatting, backticks, or \"```json\". Just pure JSON text.\n\nTopic Title: {{ $json.title }}\nTopic Description: {{ $json.description }}\n\nRequired JSON format:\n{\n  \"sentiment\": \"Choose ONLY from [Positive, Negative, Neutral]\",\n  \"category\": \"Choose standard category (e.g., Tech, Sports, Politics)\",\n  \"summary\": \"One-sentence summary\"\n}",
        "messages": {
          "messageValues": []
        },
        "batching": {
          "batchSize": 1,
          "delayBetweenBatches": 2000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        208
      ],
      "id": "852f44b0-4a97-450c-aa14-3d6ec23b8ef7",
      "name": "Basic LLM Chain",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  try {\n    let rawText = item.json.text.trim();\n    \n    // تنظيف المخرجات في حال تضمنت علامات الماركداون بشكل خاطئ من النموذج\n    if (rawText.startsWith(\"```json\")) {\n      rawText = rawText.replace(/^```json/, \"\").replace(/```$/, \"\").trim();\n    } else if (rawText.startsWith(\"```\")) {\n      rawText = rawText.replace(/^```/, \"\").replace(/```$/, \"\").trim();\n    }\n    \n    const parsedData = JSON.parse(rawText); \n    \n    item.json.sentiment = parsedData.sentiment;\n    item.json.category = parsedData.category;\n    item.json.summary = parsedData.summary;\n  } catch (error) {\n    item.json.error = \"Failed to parse JSON: \" + error.message;\n    item.json.sentiment = \"Neutral\";\n    item.json.category = \"Unknown\";\n    item.json.summary = \"حدث خطأ أثناء معالجة الملخص من قبل النموذج.\";\n  }\n  \n  // جلب اسم التريند المقابل بالتفصيل من عقدة الـ Split Out لضمان تزامن دقيق\n  try {\n    item.json.title = $('Split Out').itemMatching(i).json.title;\n  } catch (e) {\n    item.json.title = \"تريند غير معروف\";\n  }\n}\n\nreturn items;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        208
      ],
      "id": "429cc572-d388-4054-abe9-9ad1dfbdf691",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "tableId": "=trending_topics",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "trend_name",
              "fieldValue": "={{ $json.title }}"
            },
            {
              "fieldId": "sentiment",
              "fieldValue": "={{ $json.sentiment }}"
            },
            {
              "fieldId": "category",
              "fieldValue": "={{ $json.category }}"
            },
            {
              "fieldId": "summary",
              "fieldValue": "={{ $json.summary }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        720,
        208
      ],
      "id": "342c44b0-90f7-4b6c-9388-0b4480ffd25c",
      "name": "Create a row",
      "credentials": {
        "supabaseApi": {
          "id": "bu53iHIW3dsBHDf5",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        112,
        416
      ],
      "id": "f6b017cd-6a91-46f8-a785-d5377ae65ac8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "T37awRC87DZBSsi2",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "2101175121",
        "text": "=🚨 تحديث تريند جديد تم رصده! 🚨\n\n📌 اسم التريند: {{ $json.trend_name || $json.title || 'غير معروف' }}\n🧠 التحليل النفسي: {{ $json.sentiment || 'غير معروف' }}\n📁 المجال: {{ $json.category || 'غير معروف' }}\n📝 الملخص التنفيذي: {{ $json.summary || 'لا يوجد ملخص' }}\n\n✅ تم التخزين بنجاح في قاعدة البيانات.\n",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        208
      ],
      "id": "2a7be528-949f-416e-a3ea-74b17de106bf",
      "name": "Send a text message",
      "webhookId": "19972024-b847-4538-ae22-36a5f05a1e55",
      "credentials": {
        "telegramApi": {
          "id": "aUVPcjJrLwLTTT89",
          "name": "Telegram account 3"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 13
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -816,
        208
      ],
      "id": "5b9393f1-9b49-4e2c-a6b6-45b17dec282f",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Fetch Trends": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a row": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Trends",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "eb10c8a0-1096-4ab9-b121-746d05f78759",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "695441af4fb619c31ebfa312158314ca73539c662872891517c356f3082b4a66"
  },
  "id": "8P0moQyvElNQexbh",
  "tags": []
}